.flex {
    display: flex;
}

.flex.justify-content {
    justify-content: center;
}

.flex.align-items {
    align-items: center;
}

.flex.even {
    justify-content: space-evenly;
}

.flex.space {
    justify-content: space-between;
}

.flex.column {
    flex-direction: column;
}